{
  "default": {
    "gpu_freq_table_path": "",
    "gpu_freq_stat_path": "",
    "loglevel_whitelist": [],
    "thermal_list": {
      "skin": "",
      "battery": "",
      "cpu": ""
    },
    "general": {
      "enable": 1,
      "org.cocos2dx.cpp_tests": {
        "enable": 1,
        "type": 3
      }
    },
    "oiface": {
      "enable": 0
    },
    "oifaceim": {
      "enable": 0
    },
    "oifacegame": {
      "enable": 0
    },
    "sdk": {
      "enable": 0
    }
  }
}
